BOT_TOKEN=
SUPPORT_USERNAME=nocto_support
VPN_PROMO_CODE=NOCTO3
VPN_PROMO_BONUS_DAYS=3
TRIBUTE_URL=https://t.me/tribute/app?startapp=dFyJ
CHANNEL_URL=https://t.me/+sliFSGeW2N44MTky
ADMIN_IDS=
DB_PATH=bot.db
PROXIES_PATH=config/proxies.json
